[
  {
    "lat": 00.000000,
    "lon": 00.000000,
    "place_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "name": "Home #1",
    "start_date": null,
    "end_date": "2000-01-01"
  },
  {
    "lat": 00.000000,
    "lon": 00.000000,
    "place_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "name": "Home #2 (current)",
    "start_date": "2000-01-02",
    "end_date": null
  }
]
